# My Jupyter Notebook on IBM Watson Studio

**Roman**

Software Engineer

*I am interested in data science because it is challenging and promising field. Also, I like to learn new things, and right now, I have more free time than usually.*

### Power of 2 (2^1000).
In python it should be:
~~~python
2**1000
~~~

In [1]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

### Copy paste of a table from [here](https://www.w3schools.com/html/html_tables.asp):
<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>

### Horizontal rule below:
<hr>

### More horizontal rules (three to be exact):
<hr>
<hr>
<hr>

### Copy paste of bullet list from [here](https://www.w3schools.com/HTML/html_lists.asp):
 <ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>